<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inventory management</title>
</head>
<body>
	<h1>Welcome to the inventory management app</h1>
	<a href="/games">Games</a>
	<a href="/genres">Genres</a>
	<a href="/devs">Developers</a>
</body>
</html>